{% extends 'TemplatesApp/base.html' %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Udsm Computer Engineering Projects</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!---jqeury css link---->
     <link rel="stylesheet" href="{% static 'USMAApp/assets/jqueryui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'USMAApp/assets/jqueryui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'USMAApp/assets/jqueryui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'USMAApp/assets/jqueryui/jquery-ui.theme.min.css' %}">
     <link rel="stylesheet" href="{% static 'USMAApp/assets/jqueryui/jquery-ui.theme.css' %}">

 
</head>

<body>

 

  <main id="main">

         

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" style="background-color: rgb(5,5,49);">
      <div class="container">
        <h2 style="font-size: 18px;">{{CourseId_name}}</h2>



              <p>
          
              <form method="POST" action="">
  {% csrf_token %}

{{form.ProjectName}}



<button type="submit" style="background-color: blue;color: white;border: 0px;padding: 10px;border-radius: 10px;border-top-right-radius: 0px;justify-content: center;align-items:center; ">
<i class='fa fa-search icon'  style="color: white;font-size: 20px;margin-right: 5px;background-color: ;"></i><br>
</button>
</form>
        </p>







        
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        {% if projects %}

        <div class="row">

           {% if messages %}
{% for message in messages %}
     

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong style="color: green;font-size: 16px;">{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
  {% endif %}


          {% for x in projects %}


          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                {% if x.ProjectImage %}
                <img src="{{x.ProjectImage.url}}" style="width: 100%;" alt="...">

                {% else %}

              <img src="{% static 'USMAApp/assets/img/not.jpeg' %}" class="img-fluid" style="width: 100%;" alt="...">


              {% endif %}
              </div>
              <div class="card-body" style="background-color: rgb(5,5,49);">
                <h5 class="card-title" style="font-size: 18px;color: white;">
                  <a href="{% url 'ReadProject' x.id %}" style="font-size: 18px;color: white;">

                     <button class="btn btn-success" style="border-radius: 5px;padding: 10;color: white;margin-bottom: 0px;">
                     {{x.ProjectName}}</button>

                  </a></h5>
                <p class="fst-italic text-center" style="color: red;">{{x.Created}}</p>
                <!-- <p class="card-text">{{x.ProjectBody|safe}}</p> -->
              </div>
            </div>
          </div>


{% endfor %}





        </div>

          {% else %}

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{% static 'USMAApp/assets/img/500.png' %}" class="img-fluid" style="height: 5cm;" alt="...">
              <div class="course-content">
                

                <h3>No any  Project Uploaded</h3>
               
              
              </div>
            </div>
          </div> <!-- End University Item-->

{% endif %}


      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->

 



 <!--jquery code for autocomplete javascriptcode---->
<script src="{% static 'USMAApp/assets/jqueryui/external/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'USMAApp/assets/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>




   <script >
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskel",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
      

    ];

   $( "#project" ). autocomplete({
    source: "{% url 'project_search_university_autocomplete' %}",
  });


  } );
  
  

</script>
 


</body>

</html>
{% endblock %}