{% extends 'TemplatesApp/base.html' %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1><span style="color: red;">USMA,</span> <br>University Students Materials App</h1>
      <h2> <span style="color: wheat;font-size: 16px;font-weight: bold;"> Free Projects Share </span> </h2>
      
    </div>
  </section><!-- End Hero -->









<main id="main">



    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <center><h3 style="margin-top: 20px;font-size: 22px;font-weight: bold;">Services</h3></center>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="#">Read Projects</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="#">Read Articles</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="#">Share Project</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="#">Communicate With Experts </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="#">Download Project</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="#">Download Article</a></h3>
            </div>
          </div>
         


          
        </div>

      </div>
    </section><!-- End Features Section -->









</main>




</body>
</html>

{% endblock %}