
{% extends 'TemplatesApp/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Expert Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


</head>

<body>

 
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{{ReadExpert.CategoryName.CategoryName}}</h2>
        
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          {% if ReadExpert.StudentImage %}
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            
            <img src="{{ReadExpert.StudentImage.url}}" class="img-fluid" alt="" style="height: 9cm;width: 100%;border-radius: 10px;">
           
            
          </div>

           {% else %}
           <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'USMAApp/assets/img/icon.png' %}" class="img-fluid" alt="" style="height: 9cm;width: 100%;border-radius: 10px;">

            </div>

            {% endif %}


          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3 style="font-size: 18px;">Full Name: {{ReadExpert.StudentName}}</h3>
            
            <ul>
              <li><i class="bi bi-check-circle"></i> Residence: {{ReadExpert.StudentPlace}}</li>

               <li><i class="bi bi-check-circle"></i>Email: {{ReadExpert.Email}}</li>

              
               <li><i class="bi bi-check-circle"></i> Date Joined: {{ReadExpert.Created}}</li>
               


               
               <li><i class="bi bi-check-circle"></i> Last Login: {{ReadExpert.Updated}}</li>
               


               {% if ReadExpert.Phone %}
               <li><i class="bi bi-check-circle"></i> Phone Number: {{ReadExpert.Phone}}</li>
               {% endif %}



              {% if ReadExpert.Body %}
               <li><i class="bi bi-check-book"></i> About Expert:  {{ReadExpert.Body|safe}}</li>
               {% endif %}



              
            </ul>
           

          </div>
        </div>

      </div>

     

    </section><!-- End About Section -->



   




    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

        

          {% if ReadExpert.Github %}

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
               <p>Github Link <br>
               <a href="{{ReadExpert.Github}}"><i class="bx bxl-github" style="color: red;font-size: 40px;margin: 0px;padding: 0px;"></i></a>
            </p>          </div>
          {% endif %}


          {% if ReadExpert.Youtube %}

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Youtube Link <br>
               <a href="{{ReadExpert.Youtube}}"><i class="bx bxl-youtube" style="color: red;font-size: 40px;margin: 0px;padding: 0px;"></i></a>
            </p>
             
     
          </div>
          {% endif %}


        


          {% if ReadExpert.Whatsapp %}

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Whatsapp Link <br>
               <a href="{{ReadExpert.Whatsapp}}"><i class="bx bxl-whatsapp" style="color: green;font-size: 40px;margin: 0px;padding: 0px;"></i></a>
            </p>
          </div>
          {% endif %}

          

        </div>

      </div>
    </section><!-- End Counts Section -->



            

  </main><!-- End #main -->

  


</body>

</html>

{% endblock %}